{{ if .empty }}
    <aside id="columns"></aside>
{{ else }}
    <aside id="columns" class="shrink-0 z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50">
            <h2 class="font-semibold text-gray-400 mb-3 flex justify-between items-center">
                {{ .table }}
                <span _="on click add .hidden to #columns">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>                                     
                </span>
            </h2>
            <ul class="space-y-2 font-medium">
                {{ range .columns }}
                    <li class="m-0">
                        <a class="flex items-center p-1 pl-0 text-gray-900 rounded-lg hover:bg-gray-100 group">
                            <p class="flex justify-bween items-center w-full">{{.Name}} <span class="text-gray-400 ml-2 text-sm lowercase">{{.Type}}</span></p>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </aside>
{{ end }}

