{{ define "main" }}
    <a href="{{.prefix}}/logout/" class="p-2 rounded-lg text-gray-500 hover:bg-green-400 border bg-white transition-all delay-50 hover:text-white" >Logout</a>
    <form hx-post="/files/" hx-swap="outerHTML" hx-trigger="submit" hx-target="#results" class="flex flex-col ">
        <textarea name="query" id="" cols="30" rows="5" class="p-5 rounded-lg border focus:ring-0 resize-none" autofocus></textarea>
        <div class="flex justify-end pt-2">
            <button type="submit" class="p-2 rounded-lg text-gray-500 hover:bg-green-400 border bg-white transition-all delay-50 hover:text-white" >Run Query</button>
        </div>
    </form>

    <div class="py-5">
    </div>

    <div id="results" ></div>
{{ end }}